@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  width: auto;
  margin: auto;
  max-width: 1440px;
}

li, h3, span {
  list-style-type: none;
}
a, h3, span {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.head_img {
  height: 50px;
  padding: 0 10px;
}
.head_nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.head_nav_hidden {
  display: none;
}
.head_link {
  padding: 30px;
  transition-duration: 0.1s;
}
.head_link:hover {
  color: #0065FC;
  border-top: 4px solid #0065FC;
}
.head_link[data-active=true] {
  color: #0065FC;
}
.sign_in {
  display: flex;
  align-items: center;
  padding: 30px;
  color: #0065FC;
  font-weight: bold;
}
.main_content {
  max-width: 1440px;
  margin: auto;
  padding: 0 32px;
}
.hebergement_title {
  margin-bottom: 8px;
}
.hebergement_form {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.map_icon {
  background-color: #F2F2F2;
  padding: 16px 20px;
  border-radius: 16px 0 0 16px;
  text-align: center;
}
.input_search {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 24px;
  box-sizing: border-box;
  width: 180px;
  font-size: 13px;
  font-weight: bold;
}
.search_button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 16px 16px 0;
  padding: 0 24px;
  cursor: pointer;
}
.filter_title {
  display: flex;
  align-items: center;
}
.filter_flex {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.filters {
  display: flex;
}

.filter_flex li {
  display: flex;
  border: 3px solid #F2F2F2;
  border-radius: 30px;
  align-items: center;
  margin: 5px;
  position: relative;
}
.filter_flex p {
  margin: 0 20px;
}
.filter_icon i {
  display: flex;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: -3px;
}
.filter_flex li:hover {
  background-color: #F2F2F2;
  transform: scale(1);
}
.blue {
  color:#0065fc;
}
.gray {
  color:#f2f2f2;
}

.location {
  display: flex;
  align-items: center;
  margin: 20px 5px;
  font-size: 14px;
}
.location i {
  display: flex;
  border: 2px solid #F2F2F2;
  color: #0065fc;
  border-radius: 50%;
  margin: 0 10px 0 0;
  width: 25px;
  height: 25px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.article_hebergement {
  background-color: #F2F2F2;
  padding: 32px;
  border-radius: 24px;
  width: 90%;
  display: grid;
}
.hebergement_main {
  padding: 0 20px;
}
.hebergement_flex {
  display: flex;
}
.article_hebergement article {
  height: 225px;
  width: 225px;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 5px;
  box-shadow: 0 0 10px 2px #bababa;
}
.article_hebergement img {
  height: 112px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
}
.article_hebergement article:hover {
  transform: scaleX(1.05);
}
.stars {
  font-size: 10px;
}
.conteneur {
  display: flex;
}
.popular_aside{
  background-color: #F2F2F2;
  padding: 32px;
  border-radius: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.popular {
  display: flex;
  margin-bottom: 40px;
}
.popular i {
  font-size: 25px;
  margin-left: 130px;
}
.popular_aside img {
  border-radius: 16px 0 0 16px;
  position: absolute;
  width: 7%;
  height: 125px;
  object-fit: cover;
}
.popular_aside article {
  height: 125px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 10px 2px #cfcfcf;
}
.popular_aside article:hover {
   transform: scaleX(1.05);
}
.popular_title {
  margin-bottom: 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.desc_popular {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
.popular_content {
  height: 100%;
}

.activity {
  display: grid;
  column-gap: 32px;
  margin: 64px 0;
}
.activity_card {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
}
.activity_card:hover {
  transform: scaleX(1.05);
}
.activity_card_img {
  position: relative;
  flex: 1;
}
.activity_card_img_2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activity_card_title {
  margin: 19px 24px;
}

.footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footer_collumn {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}
.footer_row {
  width: 30%;
  padding: 32px;
}
.footer_link {
  display: block;
  margin: 16px 0;
}
.footer_link:hover {
  text-decoration: underline;
}

@media screen and (min-width:  1001px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 224px 32px 32px 32px 224px;
  }
  .card_1 {
    grid-column: 1/2;
    grid-row: 2/7;
  }
  .card_2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .card_3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .card_4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .card_5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .card_6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1280px) {
  .conteneur {
    flex-direction: column;
  }
  .article_hebergement article {
    width: 90%;
    margin: 10px;
  }
  .popular_aside {
    width: 86% !important;
    margin-left: 18px;
    margin-top: 22px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .head_img {
    width: 90px;
  }
  .filter_flex {
    padding: 0 !important;
  }
  .popular i {
    margin-left: 600px;
  }
  .search_text {
    display: none;
  }
  .head_nav_hidden {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .head_nav{
    display: none;
  }
  .filters {
    display: block;
  }
  .location p {
  font-size: 20px;
  text-align: center;
  }
  .hebergement_flex {
    display: block !important;
  }
  .hebergement_main {
    padding: 0;
  }
  .none {
    display: none;
  }
  .article_hebergement {
    background-color: white;
  }
  .conteneur {
    flex-direction: column-reverse;
  }
  .article_hebergement {
    width: 95%;
  }
  .article_hebergement article {
    width: 95%;
    height: 260px;
  }
  .article_hebergement img {
    height: 155px;
}
  .popular_aside {
    width: 95%;
  }
  .popular_aside img {
    width: 27%;
  }
  .desc_popular {
    margin-left: 300px;
  }
  .activity {
    row-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 192px 192px 192px 192px 192px 192px;
  }
  .footer_collumn {
    display: flex;
    flex-direction: column;
  }
  .footer_row {
    padding: 0;
    width: 95%;
  }
}